name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: quimsimao2k5
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Lisbon
          
          # Theme (Dracula, como tinhas antes)
          config_theme: dracula
          
          # Languages settings
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, jupyter notebook
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
